management:
  endpoints:
    web.exposure.include: "*"
  endpoint:
    health:
      show-details: ALWAYS

---
logging.level.org.springframework.security: DEBUG
spring:
  profiles: development
  datasource:
    url: jdbc:h2:mem:app_db;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      new_generator_mappings: false
  security:
    user:
      password: password
    enable-csrf: false
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /uaa/actuator/health
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
---
spring:
  profiles: docker
  datasource:
    url: jdbc:mysql://mysql:3306/dev
    username: root
    password: dbpass
  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      new_generator_mappings: false
eureka:
  instance:
    prefer-ip-address: true
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
---
spring:
  profiles: k8s
  datasource:
    url: jdbc:mysql://${MYSQL_IP}/dev
    username: root
    password: dbpass
  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      new_generator_mappings: false
eureka:
  instance:
    prefer-ip-address: true
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_IP}/eureka/
---
spring:
  profiles: test
  jpa:
    show_sql: false
    database: H2
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    initialization-mode: never